body {
    background-color: rgb(26, 26, 26);
}
.simulation {

    background-color: rgb(26, 26, 26);
    color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5em;
    
}

form {
    display: grid;
    grid-gap: 10px;
    max-width: 400px;
    margin-bottom: 1em;
    margin-top: 1em;
    grid-template-columns: auto auto ;

}

input {
    background-color: rgb(17, 17, 17);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 5px;
}

