html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

.language {
    position: fixed;
    z-index: 2;
    margin-top: 1em;
    margin-right: 1em;
    right: 0;
    
}
.language button {
    background-color: transparent;
    border: none;
    border-bottom: solid rgba(190, 190, 190, 0.336) 1px;
    color: rgb(196, 196, 196);
    padding: 0.5em 0.5em;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    transition: 60ms;
    

}

.language button:hover {
    
    box-shadow: black 1 1;
    cursor: pointer;
    background-color: #c9c9c917;
}

.language button:active {
    background-color: #c9c9c925;
    transform: translateY(1px); /* Green */
}



.loaderbody {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body {
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    width: 100%;
    
}

.landing {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    /*background-color: rgb(20, 20, 27);
    background-image: url(./Images/Home.png);*/
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;

    

}

p {
    line-height: 1.6em;
}

a {
    color: white;
    text-decoration: underline;
    text-underline-offset: 10px;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0;
}

.topper {
    background-color: white;
    height: 5px;
    width: 0%;
    transition: width 200ms;
    transition-timing-function: cubic-bezier(.01,.94,.41,1.01);
}

.projects {
    z-index: 1;
    width: 100vw;
    height: 100%;
    max-width: 100%;
    
    background-size: cover;

    /*background-image: url(./Images/Home.png);*/
    background-attachment: fixed;
    
    position: relative;
}

.landing h1::-moz-selection { /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

.main {
    
    margin-left: 3em;
    position: fixed;
    z-index: 0; 
    
    
}

.landing h1 {
    font-size: 3em;
    margin: 1em;
    
    justify-content: center;
    margin: auto;
    display: flex;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    margin-top: 1em;
    float: left;
    margin-right: 1em;
}


li a {
    color: rgb(194, 194, 194);
    text-decoration: none;
}

li a:hover .topper{
    width: 100%;
}

li a:hover {
    color: white;
}


.about {
    height: 50vh;
    width: 100%;
    position: relative;
    background-color: rgb(255, 248, 240);
}


.slope1 {
    max-width: 100%;
    position: relative;
    /*background-image: url(./Images/Home.png);*/
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 7vw solid rgb(255, 248, 240);
    border-left: 96vw solid transparent;
}
.slope2 {
    max-width: 100%;
    
    position: relative;
    background-color: rgb(255, 248, 240);
    border-bottom: 18vh solid #13131300;

    transform: skewY(10deg);
}

.contact {
    color: white;
    height: 100vh;
    width: 100%;
    position: relative;
    
}

#title {
    display: flex;
    
    justify-content: center;
}
.projects h1::-moz-selection { /* Code for Firefox */
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}
.projects h2::-moz-selection { /* Code for Firefox */
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.projects p::-moz-selection { /* Code for Firefox */
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}


.projects h1 {
    font-weight: 100;
    font-size: 4em;
    margin-top: 3em;
    padding-left: auto;
    color: white;
}

.projects h2 {
    color: white;
}
.projects p {
    color: rgb(238, 238, 238);
}

#panels {
    display: flex;
    justify-content: center;
}

.Project {
    width: 20%;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0) ;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #ffffff33;
    padding: 3em;
    margin: 3em;
    transition: box-shadow 200ms, transform 200ms, background-color 200ms;
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

.Project img {
    max-width: 800px;
    min-width: 200px;
    width: 100%;
    border-radius: 5px;
    transition-duration: 1s;
}

.Project:hover {
    background-color: #ffffff13;
    transform: scale(1.005, 1.005);
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.068);

}




@media (max-width:1000px) {
    .body {
        font-size: 14px;
    }
    .main {
        margin-left: 1em;
    }

    .projects {
        height: auto;
    }

    .Project {
        margin: 2em 3em 2em 3em;
        width: auto;
    }
    #panels{
        flex-direction: column;
    }

    

    
}


.lds-dual-ring {
    margin-top: 8em;
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.about h1 {
    font-weight: 200;
    font-size: 4em;
    color: rgb(58, 54, 48);
    transform: rotate(-90deg);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about p {
    max-width: 400px;
}

.contact {
    display: flex;
    align-items: center;
}

#contact-panels {
    margin-top: 10em;
}
.contact-panel {
    transition-duration: 200ms;
    margin-bottom: 3em;
    display: flex;
    flex-flow: row;
    border: 0.5px solid rgb(54, 54, 54);
    border-radius: 20px;
    padding: 1em;
    width: 400px;
}

.contact-panel img {
    margin-left: -40px;
    margin-top:  -40px;
    width: auto;
    height: 75px;
    
}

.contact-panel img
.contact-panel p {
    margin-left: 1em;
}

.contact h1 {
    margin-left: 5em;
    transform: rotate(-90deg);
    font-size: 4em;
    font-weight: 200;
}

.contact-panel:hover {
    box-shadow: -30px 20px 30px rgb(14, 14, 14);
    transform: translateX(30px);
    background-color: #0000005d;
}

@media (max-width:1000px) {
    .contact {
        height: 100%;
        flex-flow: column;
    }

    .contact h1 {
        margin: 0;
        margin-top: 1em;
        transform: rotate(0deg);
    }
    .contact-panel {
        width: 100%;
    }
    #contact-panels {
        margin-top: 2em;
        margin-bottom: 7em;
        margin-right: 1em;
    }
    .contact-panel p {
        text-underline-offset: 10px;
    }
    .about h1 {
        
        transform: rotate(0deg);
    
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .about p {
        margin: 3em;
        text-align: justify;
    }
}






.relativeContainer {
    position: relative;
}

.pic {
    position: absolute;
    top: 85%;
    right: 5px;
    height: 40px;
    width: 60px;
    transition-duration: 300ms;
    animation-name: slide;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
    transform-origin: 0%, 0%;
    animation-delay: 10s;
    -webkit-tap-highlight-color: transparent;
    

}
.arrow {
    position: absolut;
    height: 1.5px;
    width: 80%;  
    right: 0;
    margin-top: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px #000000;

}

.arrow::before {

    content: '';
    height: 1.5px;
    width: 15px;
    position: absolute;
    right: 14px;
    background-color: white;
    transform: rotate(40deg) translate(0px, -7px);
    box-shadow: 0px 0px 20px #000000;

}


.pic:hover {
    right: 0;
    cursor: pointer;
    animation-play-state: paused;
}

.pic:active {
    right: -5;
    outline: none;
    background: transparent;
}

.pic:focus {
    outline: none;
    background: transparent;

}

.pic:focus-visible {
    outline: none;
    background: transparent;
}




@keyframes slide {
    0% {
        transform: rotate(0deg);
    }

    45% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    55% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(-10deg);
    }

    65% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}